<!DOCTYPE html>
<html>
<head>
    <title>Lista de Produtos</title>
</head>
<body>
    <h1>Lista de Produtos</h1>

    <table border="1">
        <thead>
            <tr>
                <th>Nome do Produto</th>
                <th>Categoria</th>
                <th>Descrição</th>
                <th>Comparar Preços</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.category }}</td>
                    <td>{{ product.description }}</td>
                    <td><a href="{% url 'price_comparison' product.id %}">Comparar Preços</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div style="text-align: right; margin-top: 20px;">
        <a href="{% url 'add_product_page' %}">
            <button type="button">Cadastrar Novo Produto/Preço</button>
        </a>
    </div>
</body>
</html>